version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    target-branch: "main"
    reviewers:
      - "maintainer"
    labels:
      - "dependencies"
      - "minor-patch"
    commit-message:
      prefix: "chore"
      include: "scope"
    allow:
      - dependency-type: "production"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    target-branch: "main"
    reviewers:
      - "maintainer"
    labels:
      - "dependencies"
      - "major"
    commit-message:
      prefix: "chore"
      include: "scope"
    allow:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    versioning-strategy: "increase-if-necessary"
